<% provide(:title, "結果") %>
<h2>今のあなたにオススメの国際協力手法</h2>
<p>時間の合間を見つけて本を読む</p>
  
<div class="syokai-zentai">
  <div class="syokai">
  <div class="col-md-3 col-lg-3">
    <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4863240376/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4863240376&linkCode=as2&tag=naoya0206k010-22&linkId=7fea0fda86d7403880cb8acddf6e088f"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4863240376&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=naoya0206k010-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=naoya0206k010-22&l=am2&o=9&a=4863240376" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </div>
  
  <div class="syokai-con">
    <table>
      <tbody>
        <tr>
          <th>タイトル</th>
          <td>前へ！前へ！前へ！</td>
        </tr>
        <tr>
          <th>著者</th>
          <td>税所篤良</td>
        </tr>
        <tr>
          <th>概要</th>
          <td>僕は大学に休学届を提出して、新しい世界を求めて足立区を発つことにした。向かった先は、アジア最貧国バングラデシュ。その土地で会いたかったのは、現代最高の社会起業家であるグラミン銀行のムハマド・ユヌス博士。博士のような人間になるために、グラミン銀行で修業をしたかったのだ。</td>
        </tr>
        <tr>
          <th>キーワード</th>
          <td>教育, アジア最貧困, ICT</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  <div class="syokai">
    <div class="col-md-3 col-lg-3">
      <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4569816207/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4569816207&linkCode=as2&tag=naoya0206k010-22&linkId=85f2f49f871c95c5c4a22b0d1e6ad613"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4569816207&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=naoya0206k010-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=naoya0206k010-22&l=am2&o=9&a=4569816207" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    
    <div class="syokai-con">
      <table>
        <tbody>
          <tr>
            <th>タイトル</th>
            <td>世界「比較貧困学」入門</td>
          </tr>
          <tr>
            <th>著者</th>
            <td>石井光太</td>
          </tr>
          <tr>
            <th>概要</th>
            <td>『絶対貧困』『遺体』などのベストセラーで知られるノンフィクション作家・石井光太は、これまで世界の最底辺を取材しつづけてきた。その経験をもとに、途上国の貧困を「絶対貧困」、先進国の貧困を「相対貧困」と定義し、あやふやな「貧困」の本質に迫ったのが本書である。
            </td>
          </tr>
          <tr>
            <th>キーワード</th>
            <td>援助, アフリカ, 経済発展</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="syokai">
    <div class="col-md-3 col-lg-3">
      <a target="_blank"  href="https://www.amazon.co.jp/gp/product/4492211888/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4492211888&linkCode=as2&tag=naoya0206k010-22&linkId=034a0d2d0af288ca1a8f9ca5e8fcd649"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4492211888&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=naoya0206k010-22" ></a><img src="//ir-jp.amazon-adsystem.com/e/ir?t=naoya0206k010-22&l=am2&o=9&a=4492211888" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    
    <div class="syokai-con">
      <table>
        <tbody>
          <tr>
            <th>タイトル</th>
            <td>援助じゃアフリカは発展しない</td>
          </tr>
          <tr>
            <th>著者</th>
            <td>ダンビサ・モヨ</td>
          </tr>
          <tr>
            <th>概要</th>
            <td>本書は劇薬である。

「援助は腐敗を助長させ、人々を貧困に陥れる。アフリカが貧しいのはまさに援助のせいだ」と
言い切る著者は、ザンビア出身、ハーバードで修士号、オックスフォードで博士号をとり、
世銀に２年、ゴールドマン・サックスで８年勤めた経験を持つ、女性エコノミスト。</td>
          </tr>
          <tr>
            <th>キーワード</th>
            <td>援助, アフリカ, 経済発展</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>