<% provide(:title, "結果") %>
<h2>今のあなたにオススメの国際協力手法</h2>
<p>時間の合間を見つけて本を読む</p>
  
<div class="syokai-zentai">
  <div class="syokai">
  <side class="col-md-3">
    <a href="https://www.kiva.org" target="_blank">
      <img src="<%= asset_path "kiva.png" %>" alt="kiva" class="icon">
    </a>
  </side>
  
  <div class="content syokai-con col-md-9">
    <table>
      <tbody>
        <tr>
          <th>プログラム</th>
          <td>Kiva</td>
        </tr>
        <tr>
          <th>金額</th>
          <td>$25~</td>
        </tr>
        <tr>
          <th>概要</th>
          <td>y lending as little as $25 on Kiva, anyone can help a borrower start or grow a business, go to school, access clean energy or realize their potential. For some, it’s a matter of survival, for others it’s the fuel for a life-long ambition.

100% of every dollar you lend on Kiva goes to funding loans. Kiva covers costs primarily through optional donations, as well as through support from grants and sponsors.</tr>
        <tr>
          <th>キーワード</th>
          <td>マイクロレンディング, 直接融資</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  <div class="syokai">
    <side class="col-md-3">
      <a href="http://eedu.jp" target="_blank">
        <img src="/assets/eedu.png" alt="eedu" class="icon">
      </a>
    </side>
    
    <div class="content syokai-con col-md-9">
      <table>
        <tbody>
          <tr>
            <th>プログラム</th>
            <td>E-education</td>
          </tr>
          <tr>
            <th>金額</th>
            <td>1000円～</td>
          </tr>
          <tr>
            <th>概要</th>
            <td>私たちe-Educationは、途上国の子どもたちへの教育支援を行うNGOです。
途上国には、満足な教育を受けることができず、夢を諦めてしまう子どもたちが大勢います。
私たちは、彼らの夢を応援するために「最高の先生」の授業をDVDにして届けています。</td>
          </tr>
          <tr>
            <th>キーワード</th>
            <td>ICT教育, 通信教育, 教育格差</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="syokai">
    <side class="col-md-3">
      <a target="_blank" href="http://www.msf.or.jp">
        <img src="/assets/ishidan.png" alt="ishidan" class="icon">
      </a>
    </side>
    
    <div class="content syokai-con col-md-9">
      <table>
        <tbody>
          <tr>
            <th>プログラム</th>
            <td>国境なき医師団</td>
          </tr>
          <tr>
            <th>金額</th>
            <td>1000円～</td>
          </tr>
          <tr>
            <th>概要</th>
            <td>国境なき医師団（Médecins Sans Frontières=MSF）は、 中立・独立・公平な立場で医療・人道援助活動を行う民間・非営利の国際団体です。1971年に設立し、1992年には日本事務局が発足しました。

MSFの活動は、緊急性の高い医療ニーズに応えることを目的としています。紛争や自然災害の被害者や、貧困などさまざまな理由で保健医療サービスを受けられない人びとなど、その対象は多岐にわたります。</td>
          </tr>
          <tr>
            <th>キーワード</th>
            <td>医療, 世界的NPO</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>