<% provide(:title, "結果") %>
<h2>今のあなたにオススメの国際協力手法</h2>
<p>活動に参加して、現場を見てみる</p>
  
<div class="syokai-zentai">
  <div class="syokai">
  <a href="http://www.icnet.co.jp/global_hrd/program/training.php" target="_blank">
  <div class="content syokai-con">
    <table>
      <tbody>
        <tr>
          <th>プログラム</th>
          <td><b>社会課題×ビジネス 海外スタディツアー</b></td>
        </tr>
        <tr>
          <th>主催</th>
          <td>IC-Net</td>
        </tr>
        <tr>
          <th>概要</th>
          <td>現地のパートナーと一緒に、社会課題の解決や新しいビジネスモデルの開発・実践を行います。本プログラムは、現地のリアルな社会課題を扱うことで、参加者が社会を変える力を身に着けると当時に、社会課題を、ビジネスを通じて持続的に解決することを目指します。</td>
        </tr>
        <tr>
          <th>キーワード</th>
          <td>ビジネス, スタディーツアー, 開発コンサル</td>
        </tr>
      </tbody>
    </table>
  </div>
  </a>
  
  </div>
  
  <div class="syokai">
    
    <a href="https://daredemohero.com/9088/" target="_blank">
    <div class="content syokai-con">
      <table>
        <tbody>
          <tr>
            <th>プログラム</th>
            <td><b>1日体験スタディーツアー</b></td>
          </tr>
          <tr>
            <th>主催</th>
            <td>DAREDEMO HERO</td>
          </tr>
          <tr>
            <th>概要</th>
            <td>団体のご説明、子供たちとの交流・お食事、道徳教室や日本語教室などのご見学・ご参
加、異文化交流会、家庭訪問、貧困地区での炊き出しなどを１日体験できます。
            </td>
          </tr>
          <tr>
            <th>キーワード</th>
            <td>現地交流, フィリピン, 1日体験</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    </a>
  </div>
  
  <div class="syokai">
    
    <a href="https://www.kamonohashi-project.net/activity/factory/cfvisit/" target="_blank">
    <div class="content syokai-con">
      <table>
        <tbody>
          <tr>
            <th>プログラム</th>
            <td><b>コミュニティファクトリー訪問</b></td>
          </tr>
          <tr>
            <th>主催</th>
            <td>かものはしプロジェクト</td>
          </tr>
          <tr>
            <th>概要</th>
            <td>カンボジアで働く女性たちの笑顔に会いにきませんか？カンボジアで働く女性たちの笑顔に会いにきませんか？
NGOが行う問題解決・職業訓練の現場を肌で感じることができます。
コミュニティファクトリーではカンボジアで採れるいぐさを使った手作りのお土産を作る事業を行い、貧しい農村家庭の女性たち100名以上がここで一緒に仕事しています。</td>
          </tr>
          <tr>
            <th>キーワード</th>
            <td>人身売買, カンボジア, 職業訓練</td>
          </tr>
        </tbody>
      </table>
    </div>
    </a>
    
  </div>
  
</div>