<% if @point.errors.any? %>

  <div class="error_explanation">
    <div class="alert alert-danger">
      これらの入寮の間違いがあります。
    </div>
    <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  
<% end %>