<% provide(:title, "About") %>

<div class="jumbotron">
  <div class="text-center">
    <h1>ABOUT</h1>
    <p>国際協力なにか関わりたいんだけど、う～ん何から始めたらいいのかよく分からない...っていう人のためのアプリ</p>
    <p>ただ、出来がひたすらに悪い。問題ないと思うけど、一応Emailとかは架空のものを入れておいてください。</p>
  </div>
</div>