<% provide(:title, "Home") %>

<div class="container">
  <div class="jumbotron">
    <h1>自分がしたいアクションを見つけよう！</h1>
    <p>Sign Upボタンを押していくつかの質問項目に答えよう！</p>
    <% if logged_in? %>
      <div class="row">
        <div class="text-center col-md-offset-4 col-md-4" id="login">
          <%= link_to "My Page", user_path(current_user), class: "btn btn-lg btn-primary btn-block" %>
        </div>
      </div>
    <% else %>    
    <!-- 本当はアラートでSign　Up機能を強制的に表示したい -->
    <div class="row">
      <div class="text-center col-md-offset-4 col-md-4" id="login">
        <%= link_to "LogIn", login_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
  
      <div class="text-center col-md-offset-4 col-md-4">
        <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-info btn-block" %>
      </div>
    </div>
    
    <% end %>
</div>