<% provide(:title, "Home") %>

<div class="container">
  <div class="jumbotron">
    <h1>さあ！自分がしたいアクションを見つけよう！</h1>
    <p>回答時間目安：1分</p>
    
    <p class="text-center">IT WILL SHOW FORM TO ANSWER HERE.</p>
    
    
    <!-- 本当はアラートでSign　Up機能を強制的に表示したい -->
    <div class="text-center">
      <%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>