    <div class="form-group">
      <%= collection_check_boxes(:user, :point_ids, Point.all, :id, :content) do |b| %>
            <div class="checkbox-wrap">
              <%= b.label { b.check_box + b.text } %>
            </div>
      <% end %>
    </div>
          
        