<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">
	    教えて！何やりゃいいの？
	  </a>
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">アカウント</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
      <p class="navbar-text navbar-right">ようこそ、ゲストさん。</p>
    </div>
  </div>
</nav>